# Object files
*.o
*.ko
*.obj
*.elf

# Mod files
*.mod.c
*.cmd
*.symvers
*.mod
*.order

# Precompiled Headers
*.gch
*.pch
e
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/LKM/build/
